<h1>Select your flight</h1>


        <% for flight in @flights %>
<div class="container" style="margin-bottom: 25px; margin-top: 25px;">
<div class="row">
<div class="col"><%= flight[:flight_num] %></div>
<div class="col"><%= flight[:dep_time] %></div>
<div class="col"><%= flight[:origin] %></div>
<div class="col"><%= flight[:arr_time] %></div>
<div class="col"><%= flight[:destination] %></div>
<div class="col"><%= flight[:price] %></div>

<!--#book now button--!>
<div class="col">
            <a href="/flights/<%= flight[:id] %>/bookings/new" class="btn btn-primary">Book it!</a></div>
</div>
</div>
<% end %>


<div class="container" style="margin-bottom: 25px; margin-top: 25px;">
<div class="row">
<div class="col">
<h5>Our location in Mexico (Toluca Airport)</h5>
</div>
<div class="col">
<h5>Our location in Monterrey (Aeropuerto del Norte)</h5>
</div>
</div>


<div class="row">
<div class="col">
<iframe
  width="400"
  height="275"
  frameborder="0" 
  style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= "19.327940, -99.564954" %>&zoom=6" allowfullscreen>
</iframe>
</div>
<div class="col">
<iframe
  width="400"
  height="275"
  frameborder="0" 
  style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= "25.862260, -100.244519" %>&zoom=6" allowfullscreen>
</iframe>
</div>
</div>


</div>



